/.venv
/.VSCodeCounter
Sounds.rar
/.Sounds
/.Spectrograms
/rtr
/gf
/Sounds
/Spectrograms
Untitled-1.ipynb
.vscode
__pycache__
/esp32
esp32
savedmodel
/savedmodel
ffmpeg
/ffmpeg
final_features_test.csv
final_features.csv
metrics.rar
models
/models